@media(max-width: 768px) {

    html , body {
        width: 100%;
        overflow-x: hidden;
    }
    
    .aboutsec, .skillsec, .projectsec, .contactsec{
        height: auto;
    }

    .nav-item {
        text-align: center!important;
    }
    
    .nav-item a::before {
        border-bottom: none;
    }
    
    .navheader{
        font-size: 3.5rem;
    }

    .darktheme{
        margin-left: 0;
    }

    .label {
        height: 24px;
        width: 45px;
    }
    
    .label .ball {
        height: 18px;
        width: 18px;
    }

    .wrapper .static_text p{
        font-size: 6rem;
    }

    .wrapper .dyanmic_text{
        font-size: 3.4rem;
    }
     
    .main_right{
        margin-top: 2rem;
    }

    .main_right h1{
        margin-left: 5rem;
    }

    .main_right .main_rr{
        margin-top: -1rem!important;
    }

    .progressmain{
        margin: 2.5rem;
    }
    
    .pgbars{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progressbar.circle {
        width: 137px;
        height: 85px;
    }

    .projectdiv .card{
        width: 80%;
        margin-bottom: 3rem;
    }

    figure.snip1104 img{
        width: 80%;
    }

    .contact_left{
        margin-top: -7rem;
    }
    
    footer .foot .sec.aboutus{
        width: 100%;
        text-align: justify;
    }

    .icons{
        display: flex;
        justify-content: center;
        margin-left: -4.5rem;
    }

    .icons a{
        margin: 15px 5px 0 15px;
    }

    .icons a .layer{
        width: 30px;
        height: 30px;
    }

    .icons a .layer span.fa{
        line-height: 30px;
    }
    
    .quicklinks{
        padding-left: 0;
    }

    .quicklinks ul li a{
        display: flex;
        justify-content: center;
    }

    .cpyright{
        margin-top: -3rem;
        margin-bottom: -3rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px)  {

    .darktheme{
        margin-left: 35rem;
    }

    .main_right h1{
        margin-left: -2rem;
    }

    .main_left .imgdiv{
        margin-top: 15rem;
    }

    .main_right .main_rl p span{
        display: block;
        overflow-wrap: break-word;
    }

    .main_rr .info-item{
        margin-top: 2.6rem;
    }

    .contact_left{
        margin-top: 3rem;
    }

    .imgsec .box{
        width: 130px;
        height: 130px;
    }

    .imgsec .box .content h3{
        font-size: 1.3rem;     
    }
    
    .imgsec .box .content h4{
        font-size: 1rem;
    }

    .projectdiv .card{
        width: 40%!important;
        margin-bottom: 1rem;
    }

    .icons{
        display: flex;
        justify-content: left;
        margin-left: -1.3rem;
    }
    
    footer .sec.quicklinks ul li a{
        display: flex;
        justify-content: left;
        margin-left: 2rem;
    }
}

@media (min-width: 1024px) and (max-width: 1366px)  {
    .darktheme{
        margin-left: 21rem;
    }

    .main_left .imgdiv{
        margin-top: 10rem;
    }

    .skillsec{
        height: 75vh;
    }

    .contactsec {
        height: 50vh;
    }

    .projectdiv .card{
        width: 30%;
        margin-bottom: 1rem;
    }

    figure.snip1104 img{
        width: 80%;
    }

}